# Node.jsプロジェクト
node_modules/
npm-debug.log*
yarn-error.log*

# 環境ファイル
.env
.env.local
.env.*.local

# ビルドディレクトリ
/dist/
/build/
/out/

# OS依存のファイル
.DS_Store   # macOS
Thumbs.db   # Windows

# IDE設定ファイル
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# イメージの一時生成ファイル
*.log
*.tmp
*.cache

test

gpt.js