@charset "utf-8";
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#baf3ff, #ffffff);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.productName {
  font-family: "Nikukyu";
  color: #2942d3;
  padding: 1vh 3vw;
  font-size: 2.5rem;
}
.history {
  display: flex;
}

.view {
  padding: 3vw;
  border: 0.25vw solid #000000;
  background-color: #ffffff;
  opacity: 0.5;
  width: 30vw;
  height: 20vw;
  margin: 1vw 3vw;
  margin-left: 5vw;
}
.historydec {
  padding: 3vw;
  border: 0.25vw solid #000000;
  background-color: #ffffff;
  opacity: 0.5;
  width: 70vw;
  height: 20vw;
  margin: 1vw 3vw;
  margin-right: 5vw;
}
.input {
  border: 1px solid #ffffff;
  background-color: #b0ebfd;
  resize: none;
  margin-left: 5vw;
  width: 40vw;
  height: 20vh;
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}
.output {
  border: 1px solid #ffffff;
  background-color: #b0ebfd;
  margin-right: 5vw;
  width: 40vw;
  height: 20vh;
  padding: 5px;
}
.form {
  margin-top: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#microphone {
  font-size: 1.5rem;
  position: absolute;
  top: 17vh;
  left: 6vw;
}
.inputContainer {
  position: relative;
}
